body {
    margin: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

img {
    max-width: 1000px;
}

#last-sock-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#last-sock-container > img {
    position: absolute;
    top: 0%;
    transition: opacity 0.3s ease-out;
}

#sock {
    opacity: 1;
}

#stocking {
    opacity: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 88px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: #c62828;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 68px;
    width: 68px;
    left: 10px;
    bottom: 10px;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider{
    background-color: #0a5c0a;
}

input:checked + .slider::before {
    transform: translateX(72px);
}